<?xml version="1.0" encoding="UTF-8" ?>
<web-app id="web_app_id" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3c.org/2001/XMLSchema-instance">
	<display-name>POkuzz</display-name>
	
	<!-- is it necessary when spring boot web? -->
	<servlet>
		<servlet-name>spring-dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		
	</servlet>
	
	<servlet-mapping>
		<servlet-name>spring-dispatcher</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
</web-app>